.footer {
    /* position: absolute;
    bottom: 0;
    left: 0; */
    background-color: var(--primary-color);
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}