@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #e8eded;
  --primary-color: #2aba8f;
  --secondary-color: #388d74;
  --tertiary-color: #062e2a;
  --section-background-color: #a3c3bc;
  --light-font-color: #f1f5f5;
  --dark-font-color: #030e0e;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  background: var(--background);
}
