.button {
    all: unset;
    background-color: var(--tertiary-color);
    color: var(--light-font-color);
    font-weight: bolder;
    border-radius: 25px;
    height: 40px;
}

.button span {
    padding: 10px;
}