.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 25px;
    background-color: var(--section-background-color);
    color: var(--dark-font-color);
    height: 50px;
    font-weight: bolder;
}

.container > p {
    padding: 15px;
}